
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.card_image {
  max-width: 100px;
  max-hight: 100px;
}

.into_compare_list {
  background: gray;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  &:hover {
      background: #FF00FF;
  }
}
.outof_compare_list {
  background: #FF00FF;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  &:hover {
      background: gray;
  }
}
[v-cloak] {
  display: none;
}